/* @font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/Traffic3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

/* Importa a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Modifica a variável do Bootstrap para usar a fonte personalizada */
:root {
    --bs-body-font-family: 'Inter', sans-serif !important;
}

.scrollable-section {
    position: relative;
    overflow-y: auto;
    padding-bottom: 10px; /* Para evitar sobreposição do fade */
}

/* Criando o efeito fade na parte inferior */
.scrollable-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Altura do efeito */
    background: linear-gradient(to bottom, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 1) 100%);
    pointer-events: none; /* Para não interferir no scroll */
}

/* Estilo padrão do botão de logout */


.invalid-feedback {
    display: block;
}

.sidebar {
    width: 17.6vw; /* 🔹 Ocupa no máximo 10% da largura da tela */
    /* max-width: 20%; */
    display: flex;
    flex-direction: column;
    height: 100vh; /* 🔹 Ocupa toda a altura da tela */
    overflow: hidden;
}

.sidebar-section {
    flex-grow: 1;
    overflow-y: auto; /* 🔹 Scroll apenas se necessário */
    padding: 10px;
}

/* Proporção das seções */
.section-activity { flex-basis: 30%; }
.section-notifications { flex-basis: 40%; }
.section-saved { flex-basis: 30%; }

.notification-card {
    font-size: 0.9rem !important;
}

.place-card:hover {
    filter: brightness(110%);
    transition: all ease-in-out 0.15s !important; 
    cursor: pointer;
  }