/* @font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/Traffic3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

/* Importa a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Modifica a variável do Bootstrap para usar a fonte personalizada */
:root {
    --bs-body-font-family: 'Inter', sans-serif !important;
}

.scrollable-section {
    position: relative;
    overflow-y: auto;
    padding-bottom: 10px; /* Para evitar sobreposição do fade */
}

/* Criando o efeito fade na parte inferior */
.scrollable-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Altura do efeito */
    background: linear-gradient(to bottom, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 1) 100%);
    pointer-events: none; /* Para não interferir no scroll */
}

/* Estilo padrão do botão de logout */
.logout-btn {
    transition: all 0.3s ease-in-out;
}

/* Ao passar o mouse ou pressionar, o botão fica vermelho */
.logout-btn:hover,
.logout-btn:active {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
}

.invalid-feedback {
    display: block;
}
